@*
   
*@

@{
    ViewBag.Title = "About Page";
    ViewBag.Message = "This is an ASP.NET Core MVC App";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>This is the About Page for my first MVC App.</p>
