@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <h3 class="display-4">@ViewBag.Message</h3>
    <p>This is the HomePage :)</p>
    
</div>
